<div class="mainArea">

	 

			 
           

          	<div>
					<label>Name : </label>
					<%=@name%>
			</div>

			<div>
					<label>Email : </label>
					<%=@email%>
			</div>

			<div>
					<label>Phone : </label>
					<%=@phone%>
			</div>

			<div>
					<label>Title : </label>
					<%=@title%>
			</div>

			<div>
					<label>Content : </label>
					<%=@content%>
			</div>


    

 
</div>

<hr>
<footer>
    <div class="container">
        <div class="row text-">
            <div class="col-md-4 d-flex align-items-center">
                <p><%=t("companyCopyright")%></p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <span><i class="fas fa-phone-square"></i> +886 2 2595-5983  </span>&nbsp;
                        <span><i class="fas fa-fax"></i> +886 2 2595-9393  </span>&nbsp;
                        <span><i class="fas fa-envelope"></i> tai-han5983@umail.hinet.net,  info@thmageq.com </span>
                    </div>
                    <div class="col-12 icon-map">
                        <span><i class="fas fa-map-marker-alt"></i><%=t("TAIHAN_address")%></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>


